<mat-toolbar color="primary">
  <span style="font-family:'Roboto', sans-serif">nanary</span>
  <span class="space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="globalService.isLoggedIn">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>プロフィール</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>設定</span>
  </button>
  <button mat-menu-item (click)="signOut()">
    <mat-icon>settings</mat-icon>
    <span>ログアウト</span>
  </button>
</mat-menu>
