.login-div {
  position: relative;
  margin-top: 20px;
}
.login-card {
  max-width: 400px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.login-header {
  display: inline;
}
.login-title {
  font-weight: bold;
  font-size: 22px;
  color: #3f51b5;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.question-list {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  .question-list-item {
    padding: 2px;
    height: 80px;
    img {
      position: absolute;
      top: 5px;
      left: 5px;
      height: 50px;
      border-radius: 20%;
    }
    .question-list-content {
      text-align: left;
      position: absolute;
      left: 75px;
    }
  }
}
